.description-container {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
  max-width: 93.75vw;
  padding: 2rem;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
.description-container{
    background-color: #0F1C93;
    color: white;
    border-radius: 50px;
}

.description-text {
  font-size: 6.82vw;
  text-transform: uppercase;
  max-width: 50vw;
  line-height: 1;
  text-align: center;
}
