/* .container {
  padding: 80px;
  background-color: #fffbea;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 80vh;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
} */
